.accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.4s;
}

.accordion-header:hover {
    background-color: #ddd;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
}

.accordion-content.active {
    display: block;
}